* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 15px;
}

h1 {
    text-align: center;
}

#size {
    padding: 5px;
    margin: 2px;
}


.grid {
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 950px;
    margin: 5px;
}

.grid-container div {
    display: flex;
}